APP_NAME=SmartTwin Backend
APP_VERSION=0.1.0
DEBUG=true
CORS_ORIGINS=http://localhost:3000

# Supabase API
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Hugging Face Hub
HF_TOKEN=
HF_REPO_ID=rahmatisma/smarttwin-cctv